
.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap:50px;
    justify-content: center;
}

.card{
    width: 350px;
    height: 420px;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(215, 210, 210, 0.712);
    border-radius: 8px;
    
}

.card img {
    border-radius: 8px;
    width: 350px;
    height: 200px;
}

.info{
    margin-top: 10px;
    padding: 30px;
}

.info h2{
    margin-bottom: 20px;
}

.info p{
    margin-bottom: 10px;
}